<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto BlockyDuino</title>
    <!-- Asegúrate de incluir Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <br><br>
                <h2>Proyecto BlockyDuino</h2>
                <br>
                <div class="d-inline-block">
                    <button onclick="location.href='/blockly'" class="btn btn-secondary">Ir a BlockyDuino</button>
                </div>
                <div class="d-inline-block">
                    <button onclick="location.href='http://localhost:3000'" class="btn btn-secondary">Ir a la parte gráfica</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Asegúrate de incluir Bootstrap JS y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
